<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>LightSword</title>


<link href="/css/teda.css" rel="stylesheet">
<link href="/css/jsoneditor.css" rel="stylesheet">
<script src="/js/jsoneditor.js"></script>

<link href="/css/bootstrap.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- <link rel="stylesheet"
	href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script
	src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script> -->
</head>
<body>
	<nav class="navbar navbar-light bg-faded" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">LightSword</a>
			<ul class="nav navbar-nav">

				<li class="dropdown nav-item"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> HTTP <b
						class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><a href="/httpsuite">用例集</a></li>
						<li><a href="/httpapi">用例列表</a></li>
						<li><a href="/httpreport">测试报告</a></li>
					</ul></li>
				<li class="active nav-item"><a href="/about">关于</a></li>
			</ul>

			<form class="form-inline navbar-form pull-right" action="/httpapi"
				method="get">
				<input class="form-control" type="text" name="name" id="search-key">
				<button id="btn-search" class="btn btn-info-outline" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<script>
		$(function() {
			var url = location.href
			var index = url.indexOf('?name=')
			var start = index + '?name='.length
			if (index != -1) {
				var keyword = url.substring(start)
				keyword = decodeURI(keyword)
				$('#search-key').val(keyword)
			}
		})
	</script>