<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APP_NAME" value="lightsword"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.springboot.in.action" level="TRACE"/>

    <logger name="org.apache.velocity.runtime.log" level="INFO"/>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${user.home}/${APP_NAME}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rolling over -->
            <FileNamePattern>${APP_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 30 days' log history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>
    <!--TRACE, DEBUG, INFO, WARN, ERROR-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>


</configuration>
