.teda-form {
	width: 1200px;
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.teda-label {
	text-align: right;
}

.teda-guide {
	width: auto;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.teda-table {
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-teda {
	margin-left: 200px;
}