#parse("/common/header.html")

<div class="container-fluid">

    <div class="box box-success">
        <div class="box-header">
            <h4>LightSword自动化测试平台（<a href="http://localhost:8888/">LightSword</a>)</h4>
            <h5>功能介绍</h5>
        </div>
        <div class="box-body">
            <ul>
                <li>http接口测试用例管理</li>
                <li>用例/用例集自动化执行</li>
                <li>用例集一键回归多线程,时间短</li>
                <li>测试执行统计</li>
                <li>执行结果报表生成</li>
            </ul>
        </div>

        <div class="box-footer">
            <h5 id="-">加入我们</h5>
            <blockquote>
                <p>如果您对我们感兴趣，请联系我们 : universsky@163.com</p>
            </blockquote>
        </div>

    </div>

</div>
#parse("/common/footer.html")
