#parse("/common/header.html")


<div class="container-fluid">
    <div class="box box-success">
        <div class="box-header">
            <ol class="breadcrumb teda-guide">
                <li><a href="/">http用例集</a></li>
                <li><a href="#">创建项目</a></li>
            </ol>
        </div>
        <div class="box-body">

            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label teda-label">用例集</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control teda-form" id='httpSuiteName'>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a class="btn btn-success" id="bt-project-new">创&nbsp;&nbsp;&nbsp;建</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer"></div>

    </div>
</div>


<script type="text/javascript">
    $(function () {
        // 新建接口用例
        $("#bt-project-new").on('click', function () {
            var name = $("#httpSuiteName").val()

            $.post("/httpsuite/postnew", {
                name: name
            }, function (data) {
                if (data) {
                    window.location.href = "/httpsuite"
                } else {
                    alert("新建失败")
                }
            })
        })

    })
</script>

#parse("/common/footer.html")
